<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tutronapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <!-- MainActivity is already declared as the launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add the Registration activity -->
        <activity
            android:name=".Registration"
            android:exported="true" />

        <!-- Add the StudentWelcome activity -->
        <activity
            android:name=".StudentWelcome"
            android:exported="true" />

        <!-- Add the AdminPage activity -->
        <activity
            android:name=".Admin"
            android:exported="true" />

        <!-- Add the TutorWelcome activity -->
        <activity
            android:name=".TutorWelcome"
            android:exported="true" />

        <activity android:name=".ComplaintList" />
        <activity
            android:name=".TutorProfileActivity"
            android:label="Tutor Profile Activity" />

        <activity android:name=".TutorViewTopics" />

        <activity android:name=".TutorManageTopics" />


        <!--<activity
            android:name=".AccountList"
            android:label="Account List" /> -->


        <!-- Add other activities here -->

    </application>

</manifest>
